#pic{
    height: fit-content;
    width: 90vw;
    
}
#pic{
    text-align: center;
    background-color: #5865F2;
    margin: auto;
    max-width: 1100px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important
}
#pic #name{
    font-family: 'Kanit', sans-serif;
    font-size: 3vw;
    color: white;
}
#pic p{
    font-size:  large;
    color: white;
}
button#white{
    color: black !important;
    background-color: white !important;
}
.btn-dark{
    border-radius: 100px !important;
}
button#white:hover{
    color: white !important;
    background-color: black !important;
    transition: 0.5s;
}
button#black:hover{
    color: black !important;
    background-color: white !important;
    transition: 0.5s;
}
#info{
    display: flex;
    background-color: #f8f8ff;
    width: 90vw;
    margin: auto;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    flex-wrap: wrap;
    height: min-content;
    max-width: 1100px;
}
#para{
    max-width: 550px;
}
#info:hover{
    transform: translateY(-1%);
    transition: 0.5s;
}
@media screen and (max-width: 800px) {
    #info {
      display: flex;
      box-shadow: none;
      border: none;
    }
    div#about{
        width: 90vw;
        max-width: 90vw;
        background-color: lightgray;
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
        
    }
    div#about p{
        line-height: 5vw;
    }
    div#para{
        width: 90vw;
        height: fit-content;
        padding: 4vw;
        max-width: 90vw;
        background-color: white;
    }
  }
  @media screen and (max-width: 700px) {
    div#all,div#all1{
        display: block;
    }
    div.green{
        width: 90vw;
        height: fit-content;
        padding: 4vw;
        max-width: 90vw;
        background-color: lightgray;
        color: black;
    }
    div.detail{
        text-align: center;
        width: 90vw;
    }
    .green h1,.green h4{
        transform: translateY(50%);
    }
  }
#para{
    width: 40vw;
    max-width: 489px;
}
div#every{
    padding-right: 3vw;    
}
#about{
    width: 50vw;
    max-width: 611px;
    height: fit-content;
    padding: 4vw;
}
.common{    
    height: fit-content;    
}
#para{
    padding: 4vw 0vw 4vw 0vw;
    height: fit-content;
}
#every h4{
    display: inline-block;
}
.common p{
    font-size: larger;
    line-height: 3vw;
}
dd.col{
    font-size:large;
}

h1,h2,h3,h4,h5{
    font-family: 'Kanit', sans-serif;
}
#para h5, #para p{
    display: inline-block;
}
.p{
    text-indent: 1vw;
}
#education{
    width: 90vw;
    max-width:fit-content;
    margin: auto;
    height: fit-content;
}
#all,#all1{
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    width: 90vw;
    margin: auto;    
}
#all:hover,#all1:hover{
    transform: translateY(-1%);
    transition: 0.5s;
}

.green{
    width: 20vw;
    background-color: green;
    text-align: center;
    padding: 2vw;
    color: white;
    max-width: 244.4px;
    vertical-align: middle;
}
.detail{
    width: 70vw;
    max-width: 855.55px;
    height: fit-content;
    padding: 2vw;
}
#all,#all1{
    max-width: 1100px;
}

#basic{
    display: inline-block;    
}
#info1{
    display: inline-block;
}
.detail h3{
    color:grey
}
#form{
    width: 90vw;
    max-width: 1100px;
    background-color: lightgray;
    margin:auto;
    position: relative;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important
}

span{
    display: inline-block;
}
label{
    color: black;
}

h2{
    color: black;
}
#a{
    display: flex;
    justify-content: space-around;
}
#inputEmail4{
    display: none;
}
#exampleFormControlTextarea1{
    display: none;
}

#form{
    padding: 2vw;
}
